@charset "UTF-8";
dialog {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

/* Selve modalboksen */
.modal-content {
	background-color: white;
	padding: 20px;
	margin: 10% auto;
	width: 300px;
	border-radius: 5px;
	position: relative;
}

.modal-content h3 {
	margin-top: 0;
}

/* Lukkeknappen */
.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 18px;
}

/* Vis modal når aktivert */
.modal-background.active {
	display: block;
}